@import "variables";
@import "~@angular/material/theming";
@include mat-core();

/*
    Paleta de cores gerada através do site abaixo
    http://mcg.mbitson.com/
*/

$cardapin-green: (
    50 : #e2f3e9,
    100 : #b8e2c8,
    200 : #88cfa4,
    300 : #58bc80,
    400 : #35ad64,
    500 : #3FB15A,
    600 : #0f9742,
    700 : #0c8d39,
    800 : #0a8331,
    900 : #057221,
    A100 : #a2ffb4,
    A200 : #6fff8a,
    A400 : #3cff61,
    A700 : #22ff4d,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$cardapin-blue: (
    50 : #e0f2f9,
    100 : #b3def0,
    200 : #80c8e7,
    300 : #4db1dd,
    400 : #26a1d5,
    500 : #4899CC,
    600 : #0088c9,
    700 : #007dc2,
    800 : #0073bc,
    900 : #0061b0,
    A100 : #daecff,
    A200 : #a7d2ff,
    A400 : #74b8ff,
    A700 : #5aabff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$cardapin-red: (
    50 : #fde5e5,
    100 : #fabdbd,
    200 : #f69192,
    300 : #f26566,
    400 : #f04445,
    500 : #ed2324,
    600 : #eb1f20,
    700 : #e81a1b,
    800 : #e51516,
    900 : #e00c0d,
    A100 : #ffffff,
    A200 : #ffd8d8,
    A400 : #ffa5a5,
    A700 : #ff8b8c,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$my-app-primary: mat-palette($cardapin-green);
$my-app-accent: mat-palette($cardapin-blue, 500, 900, A100);
$my-app-warn: mat-palette($cardapin-red);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);

body {
    .mat-button,
    .mat-icon-button,
    .mat-stroked-button,
    .mat-flat-button {
        font-size: 0.9rem;
        font-family: $font;
        line-height: 50px;
        font-weight: bold;
    }

    .mat-card,
    .mat-bottom-sheet-container,
    .mat-form-field,
    .mat-radio-button,
    .mat-select,
    .mat-dialog-title,
    .mat-tab-label,
    .mat-tab-link,
    .mat-tab-group,
    .mat-option,
    .mat-expansion-panel-header,
    .mat-expansion-panel-content,
    .mat-menu-item,
    .mat-simple-snackbar,
    .mat-checkbox {
        font-family: $font;
    }

    .mat-dialog-title {
        font-size: 1.3;
        font-weight: bold;
    }

    .mat-icon-button {
        line-height: 40px;
    }

    .mat-form-field {
        font-size: 0.9rem;
        width: 100%;
        margin-bottom: 8px;

        mat-label {
            small {
                font-size: 0.7rem;
            }
        }

        .mat-error {
            font-size: 0.6rem;
        }
    }
    .mat-dialog-actions {
        justify-content: flex-end;
        padding: 16px 0;
        min-width: 300px;

        @include mq("phone") {
            min-width: 360px;
        }
    }

    button.mat-menu-item {
        display: flex;
        align-items: center;

        .icon {
            margin-right: 8px;
        }
    }

    .mat-stepper-vertical,
    .mat-stepper-horizontal {
        font-family: $font;
        background: transparent;
    }

    .mat-form-field-appearance-outline .mat-form-field-outline {
        background-color: #fff;
    }

    .mat-button-toggle-appearance-standard {
        transition: color 0.2s ease, background-color 0.2s ease;

        &.mat-button-toggle-checked {
            background-color: $color-primary;
            color: #fff;
        }
    }

    // TAB
    .mat-tab-label {
        font-size: 1.1rem;
    }

    .mat-tab-body-wrapper {
        margin-top: 24px;
    }

    .mat-card {
        .mat-card-title {
            font-weight: bold;
        }

        .mat-card-actions {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
    }

    .mat-stroked-button {
        &.mat-primary {
            background-color: #fff;
            color: $color-primary;
            border: 1px solid $color-primary;
        }
    }

    .mat-snack-bar-container {
        color: #FFF;
    }
}
